.container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  justify-content: space-evenly;
}
.item {
  order: 0; /* default is 0 */
  border: 5px solid;
  background: #cbdbff;
  width: 800px;
  text-align: center;
  font-weight: bold;
}
.center {
  text-align: center;
}

.anime {
  color: #1c1616;
}

.carousel-container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  justify-content: center;
}
.carousel-images {
  width: 952px;
  height: 536px;
}

.Section-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Sections {
  text-align: center;
  font-weight: bold;
  border: 5px solid;
  width: 100%;
}
#History-Section {
}
.Section-Border {
  border: 5px solid #cbdbff;
}
.Artist-Section {
  width: 33%;
}
.Artist-Group {
  display: flex;
  flex-direction: row;
}
.Artist-Image {
  width: 100%;
  height: 200px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.Event-Group {
  display: flex;
  flex-direction: row;
}
.Event-Image {
  width: 100%;
  height: 200px;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.Event-Section {
  width: 33%;
}
#Title{
  font-size: 400%;
  font-weight: 500;
}